SPOTIFY_CLIENT_ID= your_id
SPOTIFY_CLIENT_SECRET= your_secret
SPOTIFY_REDIRECT_URI= your_uri

OPENAI_API_KEY= your_key
#google scraper
GOOGLE_API_KEY= your_key
GOOGLE_SEARCHENGINE_ID=your_key


//AIzaSyC_ERbnSlQT0c9AQ6oora_WynlMFlujpX0 